<div id='card_name_form'>
  <div id='name_input' style='display:none'>
    <input type="text" name="card[name]" value="<%=h card.name %>" id="card_name" />
    <small>
      (<a href='#' id='submit_name_change'>Change</a> or <a href='#' class='card_name_toggle'>cancel</a>)
    </small>
  </div>
  <div id='name_text'>
    <%=h card.name %>
    <small>(<a href='#' class='card_name_toggle'>Change</a>)</small>
  </div>
  <div class='indicator' style='display:none;'><%= image_tag 'indicator-fb.gif' %></div>
</div>